@charset "UTF-8";

// 関数定義、ブレイク定義
@import "define";

// コモンパーツ（LPでも呼び出すパーツ）
@import "commonpart";

header {

    // ------------------------------------------------------
    //   ボタン
    // ------------------------------------------------------
    // メニューボタン１
    .navHead1 {
        padding: 20px calc(20px - .05em) 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        background: #FFF9E6;
        box-shadow: 0px 6px 10px 0px rgba(64, 59, 52, 0.10);
        position: relative;
        z-index: 0;
        transition: .3s;
        cursor: pointer;
        .icon1 {
            display: block;
            width: 20px;
            height: 12px;
            fill: $themeColor1;
            transition: all .3s ease-out;
        }
        .text1 {
            font-size: 15px;
            font-weight: 700;
            letter-spacing: .1em;
            line-height: 20px;
            white-space: nowrap;
            transition: all .3s ease-out;
            @include media(pc) {
                font-family: $fontG_pc;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
        }
        .icon2 {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $themeColor1;
            border: 1px solid $themeColor1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-out;
            svg {
                display: block;
                width: 8px;
                height: 5px;
                stroke: #ffffff;
                fill: transparent;
                transform: scale(1, -1);
                transition: all .3s ease-out;
            }
        }
    }
    // メニューボタン１シンプル版
    .navHead1.simple {
        justify-content: flex-start;
        background: #ffffff;
        .icon3 {
            display: block;
            width: 10px;
            height: 10px;
            fill: $themeColor1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 25px;
            margin: auto 0;
        }
        .text1 {
            font-size: 14px;
        }
        &::before {
            content: '閲覧中';
            writing-mode: vertical-rl;
            display: inline-block;
            color: #ffffff;
            font-size: 10px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.1em;
            border-radius: 15px;
            text-align: center;
            background-color: #DE3E3E;
            width: 16px;
            height: 50px;
            margin: -15px 16px -15px calc( -16px - 15px );
            opacity: 0;
        }
        &.active1::before {
            width: 16px;
            height: 50px;
            margin: -15px 6px -15px -15px;
            opacity: 0;
            transition: all .3s ease-out;
        }
        &.active2::before {
            width: 16px;
            height: 50px;
            margin: -15px 6px -15px -15px;
            opacity: 0.9;
            transition: all .3s ease-in;
        }
    }


    // メニューボタン２
    .navHead2 {
        padding: 10px 40px 10px 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 4px;
        background: #736953;
        position: relative;
        transition: .3s;
        cursor: pointer;
        .icon1 {
            display: block;
            width: 40px;
            height: 40px;
        }
        .text1 {
            color: #ffffff;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: .1em;
            line-height: 20px;
            transition: all .3s ease-out;
            transition: .3s;
            @include media(pc) {
                font-family: $fontG_pc;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
        }
        .iconplus {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $themeColor1;
            border: 1px solid $themeColor1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-out;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            transition: .3s;
            margin: auto 0;
            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 9px;
                height: 1px;
                background-color: #ffffff;
                border-radius: 1px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: all .3s ease-out;
            }
            &::after {
                transform-origin: center center;
                transform:rotate( 90deg );
            }
        }
        &::before {
            content: '閲覧中';
            writing-mode: vertical-rl;
            display: inline-block;
            color: #ffffff;
            font-size: 10px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.1em;
            border-radius: 15px;
            text-align: center;
            background-color: #DE3E3E;
            width: 16px;
            height: 50px;
            margin: auto 6px auto calc( -10px - 16px );
            opacity: 0;
        }
        &.active1::before {
            width: 16px;
            height: 50px;
            margin: auto -6px auto -5px;
            opacity: 0;
            transition: all .3s ease-out;
        }
        &.active2::before {
            width: 16px;
            height: 50px;
            margin: auto -6px auto -5px;
            opacity: 0.9;
            transition: all .3s ease-in;
        }
    }
    // メニューボタン２シンプル版
    .navHead2.simple {
        justify-content: flex-start;
        background: #ffffff;
        cursor: pointer;
        .text1 {
            color: $themeColor3;
            font-size: 14px;
        }
        .icon3 {
            display: block;
            width: 10px;
            height: 10px;
            fill: $themeColor1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 25px;
            margin: auto 0;
        }
    }

    // メニューボタン３
    .navHead3 {
        height: 100%;
        min-height: 60px;
        padding: 10px 28px 10px 16px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        background: #ffffff;
        position: relative;
        transition: .3s;
        cursor: pointer;
        .iconpickup {
            display: block;
            width: 34px;
            height: 34px;
            margin-right: 12px;
        }
        .text1 {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: .1em;
            line-height: 20px;
            transition: all .3s ease-out;
            @include media(pc) {
                font-family: $fontG_pc;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
            .bold {
                color: #DE3E3E;
            }
        }
        .icon1 {
            display: block;
            width: 10px;
            height: 10px;
            fill: $themeColor1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            padding: 0;
            margin: auto 0; 
        }
        &::before {
            content: '閲覧中';
            writing-mode: vertical-rl;
            display: inline-block;
            color: #ffffff;
            font-size: 10px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.1em;
            border-radius: 15px;
            text-align: center;
            background-color: #DE3E3E;
            width: 16px;
            height: 50px;
            margin: auto 6px auto calc( -10px - 16px );
            opacity: 0;
        }
        &.active1::before {
            width: 16px;
            height: 50px;
            margin: auto 6px auto -10px;
            opacity: 0;
            transition: all .3s ease-out;
        }
        &.active2::before {
            width: 16px;
            height: 50px;
            margin: auto 6px auto -10px;
            opacity: 0.9;
            transition: all .3s ease-in;
        }
    }
    // メニューボタン３（コラム用ボタン）
    .navHead3.column {
        .bg1, .bg1 img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 70% center;
            z-index: 0;
            border-radius: 4px;
        }
        .textGrp {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;
        }
        .textColumn {
            display: inline-flex;
            padding: 2px 6px;
            align-items: center;
            border-radius: 10px;
            background: $themeColor1;
            width: 61px;
            height: 14px;
            color: #ffffff;
            font-family: "Cormorant Infant";
            font-size: 10px;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 0.1em;
            position: relative;
        }
        .text1 {
            position: relative;
        }
        &::before {
            position: relative;
            z-index: 1;
        }
    }

    .menuCat {
        flex: none;
        width: 100%;
        margin: 16px 0 6px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .1em;
        @include media(pc) {
            font-family: $fontG_pc;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
    }

    // クローズボタン
    .menu_close {
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        svg {
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }
    .menu_close2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 69px;
        height: 22px;
        gap: 6px;
        padding: 6px 10px;
        border-radius: 60px;
        background: $themeColor3;
        cursor: pointer;
        margin: 30px auto 0;
        .text1 {
            color: #ffffff;
            text-align: center;
            font-family: "Hiragino Kaku Gothic Pro";
            font-size: 10px;
            letter-spacing: 0.05em;
        }
        .icon1 {
            display: inline-block;
            width: 6px;
            height: 6px;
            fill: #ffffff;
        }
    }

    // ------------------------------------------------------
    //   メニューエリア
    // ------------------------------------------------------
    // メニュークローズ時ヘッダー
    .lineHead {
        width: 100%;
        height: 70px;
        padding: 0 10px 0 20px;
        background-color: #fff;
        >.wrapper {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
        }
        .logoGrp {
            display: flex;
            height: 40px;
            margin-right: auto;
            .logo {
                width: 40px;
                margin-right: 8px;
                @media (max-width: 349px) {
                    display: none;
                }
            }
            .txt {
                display: block;
                margin-bottom: 7px;
                color: $themeColor4;
                font-size: 10px;
                font-weight: 700;
                white-space: nowrap;
                @include media(pc) {
                    font-family: $fontG_pc;
                }
                @include media(sp) {
                    font-family: $fontG_sp;
                }
            }
            .logo_txt1 {
                width: auto;
                height: 23px;
                @include media(xs) {
                    height: 21px;
                }
            }
        }
        .btn_reserv {
            svg {
                width: 18px;
                height: 18px;
            }
            width: 50px;
            height: 50px;
            flex-direction: column;
            border-radius: 4px;
            font-size: 10px;
            letter-spacing: .05em;
            &::before {
                width: 100%;
                height: 100%;
                border-radius: 4px;
                top: 0;
                left: 0;
            }
            &::after {
                opacity: 0;
            }
            svg {
                margin-right: 0;
                margin-bottom: 4px;
            }
        }
        .btn_menu {
            width: 50px;
            height: 50px;
            margin-left: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
                margin: 10px 0;
            }
            &::before, &::after {
                content: "";
            }
            span, &::before, &::after {
                display: block;
                width: 30px;
                height: 2px;
                background-color: currentColor;
            }
        }
    }

    // メニューオープン後ヘッダー（SP用）
    .menu_ttl {
        width: 100%;
        height: 60px;
        background-color: $themeColor3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Cormorant Infant', serif;
        color: #fff;
        font-size: 18px;
        letter-spacing: .2em;
        position: relative;
        .menu_top {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 47px;
            height: 20px;
            background-color: #FFF9E6;
            border-radius: 4px;
            padding: 5px 6px;
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 20px;
            margin: auto 0;
            .icon1 {
                display: inline-block;
                width: 8px;
                height: 8px;
                fill: $themeColor1;
                transform: scale(-1, 1);
                margin-right: 4px;
            }
            .text1 {
                color: $themeColor3;
                font-size: 10px;
                font-weight: 700;
                letter-spacing: 0;
            }
        }
    }

    // メニューエリア１
    .megamenu1 {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        border-radius: 0 0 4px 4px;
        background: var(--k-25, #AC9E7E);
        box-shadow: 0px 1px 2px 0px rgba(64, 59, 52, 0.25);
        transition: all .4s ease-in-out;
        overflow: hidden;
        max-height: 0;
        pointer-events: none;
        opacity: 0;
        .megamenu_list {
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            gap: 4px;
            .column_list {
                display: flex;
                flex-flow: column;
                flex-wrap: wrap;
                gap: 4px;
            }
            .item {
                width: 100%;
            }
            &.line2 {
                flex-flow: wrap;
                .item {
                    width: calc( (100% - 4px) / 2 );
                }
            }
        }
    }


    // メニューエリア２
    .megamenu2 {
        padding: 0 10px;
        transition: all .4s ease-in-out;
        overflow: hidden;
        max-height: 0;
        pointer-events: none;
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        .item {
            width: 100%;
        }
        &.line2 {
            flex-flow: wrap;
            .item {
                width: calc( (100% - 4px) / 2 );
            }
        }
    }


    // ------------------------------------------------------
    //   メニュー開閉
    // ------------------------------------------------------
    // メニューボタン
    #menu_open,
    .submenu_open,
    .subnav_open {
        display: none;
    }

    // メインメニューオープン
    #menu_open {
        &:not(:checked) ~ nav {
            .megamenu1, .megamenu2,
            .navHead1, .navHead2, .navHead3 {
                pointer-events: none;
            }
        }
        &:checked ~ nav {
            opacity: 1;
            pointer-events: auto;
        }
    }
    // サブメニュー１オープン（SP用）
    .submenu_open:checked + .navHead1 {
        background-color: #403B34;
        border-radius: 4px 4px 0 0;
        .icon1 {
            fill: #CD7D20;
        }
        .text1 {
            color: #ffffff;
        }
        .icon2 {
            background-color: transparent;
            border-color: #CD7D20;
            svg {
                stroke: #CD7D20;
                transform: scale(1, 1);
            }
        }
        & + .megamenu1 {
            padding: 10px;
            max-height: 3500px;
            pointer-events: auto;
            opacity: 1;
        }
    }

    // サブメニュー２オープン（SP用）
    .subnav_open:checked + .navHead2 {
        .iconplus {
            background-color: transparent;
            border: 1px solid #CD7D20;
            &::before, &::after {
                background-color: #CD7D20;
            }
            &::after {
                transform-origin: center center;
                transform:rotate( 0 );
            }
        }
        & + .megamenu2 {
            padding: 10px 10px 20px;
            max-height: 2000px;
            pointer-events: auto;
            opacity: 1;
        }
    }


    // ------------------------------------------------------
    //   全体レイアウト
    // ------------------------------------------------------
    width: 100%;
    margin-inline: auto;
    box-shadow: 0 0 2px rgba(#454C50, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: top .5s;
    @include media(pc) {
        max-width: 375px;
    }
    &.top {
        position: absolute;
        transition: 0s;
    }
    &.hide {
        top: -70px;
    }
    nav {
        width: 100%;
        height: 100vh;
        margin-inline: auto;
        background-color: #DBD7CE;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 101;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
        @include media(pc) {
            max-width: 375px;
        }
        >.wrapper {
            position: relative;
            height: calc(100% - 100px);
            padding: 30px 20px 40px;
            overflow-y: auto;
        }
        .navGrp + .navGrp {
            margin-top: 10px;
        }
    }

}


