@charset "UTF-8";

.dragScroll {
    &::-webkit-scrollbar {
        display: none;
    }
}

html {
    overflow-y: scroll;
}
body {
    background-color: $themeColor6;
    color: $themeColor3;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    font-feature-settings: "pwid";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include media(pc) {
        padding: 60px 0;
        font-family: $fontM_pc;
    }
    @include media(sp) {
        font-family: $fontM_sp;
    }
}

.bodyWrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include media(pc) {
        width: 375px;
        border-radius: 10px;
    }
}

main {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    >section {
        padding: 40px 20px;
        background-color: $themeColor6;
        &:first-of-type {
            padding-top: 80px;
        }
        &:last-of-type {
            padding-bottom: 80px;
        }
    }
}

img, svg {
    vertical-align: top;
}

.comingsoon {
    position: relative;
    pointer-events: none;
    &::after {
        content: "準備中...";
        width: 100%;
        height: 24px;
        background-color: rgba($themeColor3, .5);
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .05em;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media(pc) {
            font-family: $fontG_pc;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
    }
    header nav &.navGrp {
        overflow: hidden;
        &::after {
            width: calc(100% - 10px);
        }
    }
    &.btn_frame {
        overflow: visible !important;
        &::after {
            width: calc(100% + 20px);
        }
    }
}

.btn_campaign {
    width: 100%;
    max-width: 335px;
    height: 80px;
    background-color: rgba(#E54F83, .2);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .1em;
    position: relative;
    z-index: 0;
    @include media(pc) {
        font-family: $fontG_pc;
        font-weight: 500;
        cursor: pointer;
    }
    @include media(sp) {
        font-family: $fontG_sp;
    }
    &::before {
        content: "";
        display: block;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        background-color: #E54F83;
        border-radius: 35px;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: -1;
    }
    &::after {
        content: "";
        display: block;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        background-color: #FF71A2;
        border-radius: 35px;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: -1;
        transform: scale(0);
    }
    >* {
        pointer-events: none;
    }
    .tax {
        font-size: 10px;
        letter-spacing: .1em;
    }
    .no-touchevents & {
        &:hover {
            &::after {
                transform: scale(1);
                opacity: 0;
                transition: .5s;
            }
        }
    }
}


.btn_frame {
    width: 100%;
    max-width: 275px;
    height: 70px;
    padding: 0 19px;
    border: 1px solid $themeColor1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: $themeColor1;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .05em;
    @include media(pc) {
        font-family: $fontG_pc;
        font-weight: 500;
    }
    @include media(sp) {
        font-family: $fontG_sp;
    }
    svg {
        width: 10px;
        height: 10px;
        margin-left: auto;
        fill: $themeColor1;
        transition: .3s;
    }
}

.instagram_link {
    margin-top: 40px;
    text-align: center;
    color: $themeColor2;
    text-decoration: underline;
    font-size: 16px;
    @include media(pc) {
        font-family: $fontG_pc;
    }
    @include media(sp) {
        font-family: $fontG_sp;
    }
    span {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 12px;
        padding: 14px;
        border: 1px solid currentColor;
        border-radius: 50%;
        svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
        }
    }
}

.fv {
    .breadcrumbs {
        color: $themeColor4;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: .05em;
        @include media(pc) {
            font-family: $fontG_pc;
            font-weight: 500;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
        ol {
            margin: -7px -10px -8px 0;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            padding: 4px 10px 4px 0;
            &:not(:first-child) {
                padding-left: 30px;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 1px;
                    background-color: currentColor;
                    position: absolute;
                    top: 13px;
                    left: 0;
                }
            }
            a {
                text-decoration: underline;
            }
        }
    }
    .scroll {
        display: none;
    }
}
@keyframes scrollAction {
    0% {
        opacity: 0;
        top: -20px;
    }
    30% {
        opacity: 1;
        top: 0;
    }
    40% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: 100px;
    }
}
#firstView1 {
    width: 100%;
    position: relative;
    .pic {
        width: 100%;
        height: 430px;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
        @include media(pc) {
            position: absolute;
        }
        @include media(sp) {
            position: fixed;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    >.wrapper {
        width: 100%;
        margin: 0 auto;
        padding-top: 430px;
        position: relative;
    }
    .breadcrumbs {
        position: absolute;
        top: 90px;
        left: 20px;
        right: 20px;
    }
    .txtBox {
        width: 100%;
        padding: 1px 20px;
        background-color: $themeColor6;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 200px;
            background: linear-gradient(rgba($themeColor6, 0), $themeColor6) center center/100% 100% no-repeat;
            position: absolute;
            left: 0;
            top: -200px;
        }
        .pageTitle {
            margin-top: -44px;
            position: relative;
            .en {
                margin-bottom: 25px;
                font-family: 'Cormorant Infant', serif;
                color: $themeColor1;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: .1em;
            }
            .jp {
                margin: -6px 0;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: .05em;
            }
            & + .txt {
                margin-top: 33px;
            }
        }
        .txt {
            margin: 23px 0 -7px;
            text-align: justify;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: .05em;
            a {
                text-decoration: underline;
            }
            strong {
                color: #D93C0D;
            }
        }
    }
}
#firstView2 {
    width: 100%;
    padding: 0 20px;
    background-image: linear-gradient(#fff 70px, $themeColor6);
    >.wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 90px 0 80px;
    }
    .fvMain {
        margin-top: 40px;
    }
    .scWrap {
        width: 100%;
        height: 100vh;
        padding-top: calc(100vh - 80px);
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    & + section {
        padding-top: 0;
    }
}

.secTitle {
    span {
        display: block;
        margin: -6px 0;
        color: $themeColor1;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: .1em;
    }
    svg {
        width: 90px;
        height: 16px;
        margin-top: 20px;
        fill: $themeColor5;
        vertical-align: top;
    }
}
.subTitle {
    margin: 23px 0 -7px;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: .05em;
    span {
        display: inline-block;
    }
}

.numListTtl {
    min-height: 20px;
    margin-bottom: 30px;
    padding: 2px 0 0 30px;
    font-weight: 700;
    position: relative;
    @include media(pc) {
        font-family: $fontG_pc;
    }
    @include media(sp) {
        font-family: $fontG_sp;
    }
    .num {
        display: block;
        width: 20px;
        height: 20px;
        background-color: $themeColor4;
        border-radius: 2px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        &.pink {
            background-color: #AF241F;
        }
    }
    .txt {
        display: inline-block;
        vertical-align: top;
        margin: -3px 0;
        text-align: left;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .05em;
        &.pink {
            color: #AF241F;
        }
    }
}

.compareList {
    width: 100%;
    margin-top: 40px;
    .item {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(#524D46, .2);
        overflow: hidden;
        +.item {
            margin-top: 20px;
        }
    }
    .listHead {
        padding: 20px;
        background-color: $themeColor3;
        display: flex;
        align-items: center;
        color: #fff;
        .num {
            font-family: 'Cormorant Infant', serif;
            font-size: 20px;
            letter-spacing: .1em;
        }
        .bar {
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: 0 12px;
            background-color: $themeColor5;
        }
        .txt {
            margin: -5px 0;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: .05em;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
        }
    }
    .listBody {
        padding: 10px 10px 20px;
        .imgBox {
            width: 100%;
            flex: none;
            .baPair {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;
                +.baPair {
                    margin-top: 10px;
                }
            }
            .pic {
                width: calc(50% - 5px);
                border-radius: 4px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                }
                .txt {
                    width: 50px;
                    height: 20px;
                    border-top-left-radius: 4px;
                    font-family: 'Cormorant Infant', serif;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: .1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    &.bef {
                        background-color: $themeColor3;
                        color: $themeColor6;
                    }
                    &.aft {
                        background-color: $themeColor5;
                    }
                }
            }
            .arw {
                width: 31px;
                height: 61px;
                fill: $themeColor3;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .txtBox {
            margin: 20px 10px;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
            p {
                margin: -6px 0;
                text-align: justify;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: .05em;
            }
            .case {
                max-width: 470px;
                margin: 20px 0 -4px;
                font-size: 0;
                dt {
                    margin-bottom: 10px;
                    font-size: 14px;
                    letter-spacing: .05em;
                    &::after {
                        content: '：';
                    }
                }
                dd {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 4px 4px 0;
                    padding: 8px 12px;
                    background-color: $themeColor6;
                    font-size: 14px;
                    letter-spacing: .05em;
                }
            }
        }
        .link {
            width: fit-content;
            height: 40px;
            margin: 0 auto;
            padding: 0 16px;
            border: 1px solid $themeColor2;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $themeColor1;
            font-size: 14px;
            letter-spacing: .05em;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
            &::after {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                margin-left: 23px;
                border-left: 6px solid currentColor;
                border-top: 3px solid transparent;
                border-bottom: 3px solid transparent;
            }
        }
    }
}

.btn_toggle {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $themeColor4;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &::before, &::after {
        content: "";
        display: block;
        width: 7px;
        height: 1px;
        background-color: $themeColor4;
        position: absolute;
        top: 50%;
        left: calc(50% - 3px);
    }
}
.toggleList {
    width: 100%;
    .toggle_open {
        display: none;
        &:checked + .toggleWrap {
            box-shadow: 0 1px 2px rgba(#524D46, .2);
            >.listHead {
                .listHeadWrap {
                    background-color: $themeColor2;
                    transition: .5s;
                }
                .num {
                    color: #fff;
                    transition: .5s;
                }
                .bar {
                    background-color: #EDDBC1;
                    transition: .5s;
                }
                .btn_toggle {
                    &::after {
                        transform: rotate(0);
                    }
                }
            }
            >.listBody {
                >.listBodyWrap {
                    margin-top: 0;
                    transition: .5s;
                }
            }
        }
    }
    .toggleWrap {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(#524D46, 0);
        overflow: hidden;
        transition: .3s;
        >.listHead {
            .listHeadWrap {
                display: block;
                min-height: 70px;
                padding: 20px 60px 20px 20px;
                background-color: $themeColor3;
                border-radius: 4px;
                position: relative;
                transition: .3s;
                cursor: pointer;
            }
            .num {
                display: block;
                font-family: 'Cormorant Infant', serif;
                color: $themeColor7;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: .1em;
                transition: .3s;
            }
            .bar {
                display: block;
                width: 100%;
                height: 1px;
                margin: 8px 0 12px;
                background-color: #8E714D;
                transition: .3s;
            }
            .txt {
                display: block;
                margin: -5px 0;
                color: #fff;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: .05em;
                @include media(pc) {
                    font-family: $fontG_pc;
                    font-weight: 500;
                }
                @include media(sp) {
                    font-family: $fontG_sp;
                }
                .note {
                    font-size: 14px;
                    line-height: 1;
                    letter-spacing: .05em;
                }
            }
            .btn_toggle {
                border-color: #fff;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                &::before, &::after {
                    background-color: #fff;
                }
                &::after {
                    transform: rotate(90deg);
                    transition: .3s;
                }
            }
        }
        >.listBody {
            overflow: hidden;
            >.listBodyWrap {
                margin-top: -6000px;
                padding: 30px 20px;
                transition: .7s;
                .ttl {
                    margin: -5px 0 25px;
                    text-align: justify;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 700;
                    letter-spacing: .05em;
                    &:not(:first-child) {
                        margin-top: 35px;
                    }
                    br {
                        display: none;
                    }
                }
                p.txt {
                    margin: -6px 0;
                    text-align: justify;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: .05em;
                    & + .txt {
                        margin-top: 14px;
                    }
                    a {
                        text-decoration: underline;
                    }
                    b {
                        font-weight: 700;
                    }
                    strong {
                        color: #D93C0D;
                    }
                }
                .bgBox {
                    width: 100%;
                    padding: 20px;
                    background-color: $themeColor6;
                    border-radius: 4px;
                }
                >.btn_toggle {
                    margin: 30px auto 0;
                    &::before, &::after {
                        width: 9px;
                        background-color: $themeColor3;
                        left: calc(50% - 4px);
                    }
                }
            }
        }
    }
}

.toggleList.priceToggle {
    &.no_space {
        margin-top: 0;
        padding: 0;
        .toggle_open+.toggleWrap.priceWrap>.listBody>.listBodyWrap,
        .toggle_open:checked+.toggleWrap.priceWrap>.listBody>.listBodyWrap {
            padding: 0 !important;
        }
    }
    .toggle_open {
        & + .toggleWrap.priceWrap,
        &:checked + .toggleWrap.priceWrap {
            background-color: transparent;
            box-shadow: none;
            .listBody {
                @include media(pc) {
                    font-family: $fontG_pc;
                    font-weight: 500;
                }
                @include media(sp) {
                    font-family: $fontG_sp;
                }

                >.listBodyWrap {
                    padding: 30px 0px;
                }
                .color1 {
                    color: #9A472E;
                }
                .color2 {
                    color: #398926;
                }
                .color3 {
                    color: #337896;
                }
                .color4 {
                    color: #C66D06;
                }
                .bgBox {
                    margin-top: 20px;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: .05em;
                    background-color: #ffffff;
                    border-radius: 4px;
                    box-shadow: 0px 1px 2px rgba(82, 77, 70, 0.2);
                    &.config {
                        margin-top: 20px;
                    }
                    &.detail {
                        width: auto;
                        margin-top: 20px;
                        padding: 30px 20px;
                        .priceDetailTtl  {
                            margin: 0 0 30px;
                        }
                        & + .detail {
                            margin-top: 10px;
                        }
                    }
                    &.bg1 {
                        background-color: #F8F8F5;
                        box-shadow: none;
                    }
                    &.simple,
                    .simple {
                        padding: 30px;
                        p {
                            margin: -6px 0;
                            text-align: center;
                            color: $themeColor1;
                            font-size: 16px;
                            line-height: 28px;
                            letter-spacing: .05em;
                        }
                        .note {
                            margin: 7px 0 -3px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: .05em;
                        }
                    }
                    .outline {
                        dt {
                            margin: -4px 0;
                            font-weight: 700;
                        }
                        dd {
                            margin: 6px 0 -4px;
                            &.note {
                                margin: 7px 0 -3px;
                                font-size: 12px;
                                line-height: 18px;
                            }
                            & + dt {
                                margin-top: 16px;
                            }
                            strong {
                                color: #D93C0D;
                            }
                        }
                    }
                    .total {
                        margin-top: 20px;
                        padding: 9px 12px;
                        background-color: #F8F8F5;
                        text-align: center;
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 700;
                        letter-spacing: .05em;
                        .row {
                            display: inline-block
                        }
                    }
                    .cap {
                        margin: -4px 0;
                        font-weight: 700;
                    }
                    .priceHead {
                        margin: -3px 0;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: .05em;
                        .head1{
                            margin-right: 4px;
                        }
                        .head2 {
                            color: $themeColor1;
                        }
                    }
                    p.note {
                        margin: 7px 0 -3px;
                        font-size: 12px;
                        line-height: 18px;
                    }
                    .material {
                        margin: 20px 0 0;
                        li {
                            display: flex;
                            align-items: flex-start;
                            &:not(:last-child) {
                                img {
                                    margin-bottom: 6px;
                                }
                                dl {
                                    margin-bottom: 16px;
                                }
                            }
                        }
                        img {
                            margin-right: 6px;
                            flex: none;
                        }
                        dl {
                            padding-left: 26px;
                            line-height: 18px;
                        }
                        dt {
                            margin: -2px 0;
                            position: relative;
                            &::before {
                                content: "";
                                display: block;
                                width: 20px;
                                height: 1px;
                                background-color: $themeColor4;
                                position: absolute;
                                top: 8px;
                                left: -26px;
                            }
                            b {
                                font-weight: 700;
                            }
                        }
                        dd {
                            margin: 4px 0 -2px;
                        }
                    }
                    .popupTrigger {
                        margin: 17px 0 -3px;
                        font-size: 12px;
                        line-height: 18px;
                        li {
                            margin-top: 6px;
                        }
                        label {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                    &.priceListBox {
                        background-color: #F8F8F5;
                        box-shadow: none;
                        p.note {
                            margin-top: 17px;
                        }
                        >img {
                            max-width: 100%;
                            margin: 15px 0 -5px;
                        }
                    }
                    .priceList {
                        margin: 20px 0 0;
                        li {
                            padding: 10px;
                            background-color: #fff;
                            display: flex;
                            text-indent: 0;
                            &:not(:first-child) {
                                margin-top: 6px;
                            }
                            .code {
                                width: 20px;
                                margin-right: 10px;
                                background-color: $themeColor4;
                                border-radius: 2px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex: none;
                                color: #fff;
                                font-size: 14px;
                            }
                            .choice {
                                b {
                                    font-size: 16px;
                                    font-weight: 700;
                                    letter-spacing: .05em;
                                }
                                .note {
                                    margin: 1px 0 -4px;
                                }
                                .unit {
                                    margin: -2px 0;
                                    display: flex;
                                    align-items: flex-start;
                                    .tag {
                                        display: inline-block;
                                        width: 38px;
                                        margin-top: 2px;
                                        margin-right: 4px;
                                        padding: 3px 0;
                                        border: 1px solid $themeColor5;
                                        border-radius: 2px;
                                        flex: none;
                                        text-align: center;
                                        color: $themeColor4;
                                        font-size: 10px;
                                        line-height: 1;
                                        letter-spacing: 0;
                                    }
                                    .b2 {
                                        width: 100%;
                                        font-size: 16px;
                                        font-weight: 700;
                                        letter-spacing: .05em;
                                        padding: 10px 0 10px;
                                        border-bottom: 1px solid $themeColor3;
                                    }

                                }
                                .plus {
                                    width: 8px;
                                    height: 8px;
                                    margin: 4px 15px;
                                    position: relative;
                                    &::before, &::after {
                                        content: "";
                                        display: block;
                                        width: 8px;
                                        height: 2px;
                                        background-color: currentColor;
                                        position: absolute;
                                        top: 3px;
                                        left: 0;
                                    }
                                    &::after {
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                            .choicePrice {
                                margin: 7px 0 -3px;
                                color: $themeColor1;
                                .num {
                                    font-size: 16px;
                                    font-weight: 700;
                                    letter-spacing: 0;
                                }
                                .yen {
                                    margin-left: 2px;
                                    font-size: 12px;
                                    line-height: 1;
                                    font-weight: 700;
                                }
                                .tax {
                                    margin-left: 4px;
                                    font-size: 10px;
                                    line-height: 1;
                                    letter-spacing: .05em;
                                }
                                .row {
                                    display: inline-block;
                                    margin-right: 10px;
                                }
                                .cat {
                                    margin-right: 4px;
                                    color: $themeColor3;
                                    font-size: 14px;
                                }
                                .normal {
                                    margin-top: 4px;
                                    color: $themeColor3;
                                    line-height: 12px;
                                    .cat {
                                        font-size: 12px;
                                    }
                                    .hp {
                                        margin-right: 2px;
                                        font-size: 10px;
                                    }
                                    .num {
                                        font-size: 14px;
                                        line-height: 20px;
                                        @include media(pc) {
                                            font-weight: 500;
                                        }
                                        @include media(sp) {
                                            font-weight: 400;
                                        }
                                    }
                                    .yen {
                                        @include media(pc) {
                                            font-weight: 500;
                                        }
                                        @include media(sp) {
                                            font-weight: 400;
                                        }
                                    }
                                    .first {
                                        display: inline-block;
                                        font-size: 10px;
                                    }
                                }
                                p.note {
                                    font-size: 12px;
                                    line-height: 14px;
                                    margin: 11px 0 0;
                                    padding-bottom: 10px;
                                }
                                &.monitor {
                                    margin-top: 5px;
                                    color: #D45B83;
                                    font-weight: 700;
                                    .num {
                                        margin-left: 2px;
                                    }
                                    .yen {
                                        margin-right: 2px;
                                    }
                                }
                            }
                        }
                    }
                    & + p.txt {
                        margin-top: 34px;
                    }
                }
                .priceDetailTtl {
                    min-height: 20px;
                    margin: 40px 0 30px;
                    padding: 2px 0 0 30px;
                    font-weight: 700;
                    position: relative;
                    .num {
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-color: currentColor;
                        border-radius: 50%;
                        text-align: center;
                        font-size: 12px;
                        line-height: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        span {
                            color: #fff;
                        }
                    }
                    .txt {
                        display: inline-block;
                        vertical-align: top;
                        margin: -3px 0;
                        text-align: left;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: .05em;
                    }
                }
                .col {
//                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    & + .col {
                        margin-top: 0;
                    }
                    .bgBox {
                        margin-top: 10px;
                    }
                    .btn_campaign {
                        margin: 20px auto 0;
                        @include media(xs) {
                            letter-spacing: 0;
                            .tax {
                                letter-spacing: 0;
                            }
                        }
                    }
                    & + p.txt {
                        margin-top: 34px;
                    }
                }
                .txt + .col {
                    margin-top: 10px;
                }
            }
        }
    }
}
#price_ultra-fit-denture {
    .strikethrough {
        color: rgba($themeColor3, .5) !important;
        position: relative;
        .cat {
            color: inherit;
        }
        &::after {
            content: '';
            width: 100%;
            height: 5px;
            border-top: 1px solid currentColor;
            border-bottom: 1px solid currentColor;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .discount {
        margin: 7px 0 1px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #EA5822;
        line-height: 1;
        .percentage {
            flex: none;
            width: 40px;
            height: 40px;
            padding-left: calc(1px + .05em);
            border: 1px solid currentColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Outfit', sans-serif;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .05em;
            .per {
                font-size: 10px;
            }
        }
        .cat {
            margin-bottom: 6px;
            color: inherit;
            font-size: 12px;
            font-weight: 700;
        }
    }
}

.material_popup {
    @include media(sp) {
        padding: 20px;
    }
    .popup_body {
        border-radius: 4px;
        @include media(pc) {
            max-width: 600px;
        }
    }
    .mat_close {
        padding: 20px;
        font-size: 0;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        svg {
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }
    .wrapper {
        width: 100%;
        height: 100%;
        padding: 40px 20px;
        text-align: center;
        @include media(pc) {
            font-family: $fontG_pc;
            font-weight: 500;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
    }
    .b {
        color: #d63a00;
        font-weight: 700;
    }
    .b2 {
        color: #337896;
    }
    .popHead {
        margin: -2px 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: .05em;
        & + .popSubhead {
            margin-top: 20px;
        }
    }
    .popSubhead {
        margin: 30px 0 20px;
        background-color: $themeColor1;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        letter-spacing: .05em;
    }
    .pic {
        width: 200px;
        margin-bottom: 20px;
        border-radius: 4px;
    }
    .popDetail {
        margin-bottom: -20px;
        text-align: left;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: .05em;
        .unit {
            padding: 21px 0 20px;
            background: linear-gradient(to right, $themeColor4 1px, transparent 1px) left top/4px 1px repeat-x;
            display: flex;
            align-items: center;
        }
        .detailHead {
            width: 88px;
            margin: -4px 0;
            font-weight: 700;
            font-feature-settings: normal;
            &.alignTop {
                align-self: start;
                font-feature-settings: "pwid";
            }
        }
        .detailText {
            width: calc(100% - 88px);
            margin: -4px 0;
            text-align: justify;
        }
        .check {
            position: relative;
            &::before {
                content: '✓';
                position: absolute;
                top: 1px;
                left: -18px;
            }
            & + .check {
                margin-top: 6px;
            }
        }
    }
    .txt {
        margin: -4px 0;
        text-align: justify;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: .05em;
        & + .txt {
            margin-top: 10px;
        }
    }
    .btn_close {
        width: 180px;
        height: 40px;
        margin: 30px auto 0;
        background-color: $themeColor3;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        letter-spacing: .05em;
        cursor: pointer;
        svg {
            width: 10px;
            height: 10px;
            margin-right: 8px;
            fill: currentColor;
        }
    }
}

#messageArea {
    padding: 80px 20px;
    background-color: #fff;
    .txt {
        margin: 33px 0 -7px;
        text-align: justify;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: .05em;
        +.txt {
            margin-top: 23px;
        }
    }
}

.fixedBg {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100vh;
        margin-inline: auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        @include media(pc) {
            width: 375px;
        }
    }
    &.bgShow::before {
        opacity: 1;
    }
}
#contactArea,
#contactArea2 {
    width: 100%;
    padding: 80px 20px;
    background-color: rgba(#fff, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &::before {
        .webp & {
            background-image: url(../img/contact_bg.jpg.webp);
        }
        .no-webp & {
            background-image: url(../img/contact_bg.jpg);
        }
    }
    .txt1 {
        margin: -5px -10px;
        font-size: 18px;
        line-height: 28px;
    }
    .txt2 {
        margin: 30px 0 10px;
        font-size: 14px;
        letter-spacing: .05em;
    }
    .tel1 {
        height: 34px;
        margin: 30px 0 21px;
        padding: 0 20px;
        background-color: $themeColor3;
        border-radius: 17px;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 14px;
        letter-spacing: .05em;
        svg {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            fill: currentColor;
        }
    }
    .tel2 {
        padding-bottom: 1px;
        border-bottom: 1px solid currentColor;
        color: #337896;
        font-size: 36px;
    }
    .txt3 {
        margin-top: 12px;
        color: $themeColor4;
        font-size: 12px;
        letter-spacing: .05em;
    }
    @include media(pc) {
        .txt1, .txt2, .tel1, .txt3 {
            font-family: $fontG_pc;
            font-weight: 500;
        }
    }
    @include media(sp) {
        .txt1, .txt2, .tel1, .txt3 {
            font-family: $fontG_sp;
        }
    }
}

.popup_open {
    display: none;
    &:checked + .popupWrap {
        opacity: 1;
        pointer-events: auto;
    }
}
.popupWrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    @include media(pc) {
        padding: 40px;
    }
    .bg {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($themeColor3, .8);
        position: absolute;
        top: 0;
        left: 0;
    }
    .popup_body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .wrapper {
        background-color: #fff;
        overflow-y: auto;
    }
}

.information {
    &-box {
        padding: 14px;
        background-color: #fff;
        border: 2px solid #E05931;
        border-radius: 6px;
        text-align: center;
        font-weight: 700;
        @include media(pc) {
            font-family: $fontG_pc;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
    }
    &-ttl {
        margin: -2px 0 -4px;
        color: #E05931;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: .05em;
        svg {
            width: 16px;
            height: 16px;
            margin-right: 6px;
            fill: currentColor;
            vertical-align: -2px;
        }
    }
    &-txt {
        margin: 8px 0 -4px;
        font-size: 12px;
        line-height: 20px;
        b {
            color: #E05931;
        }
    }
}


#pcLayout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    @include media(sp) {
        display: none;
    }
    .bgvideo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.01);
            backdrop-filter: blur(15px);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .pcLeft {
        width: calc((100% - 375px) / 2);
        height: 100%;
        padding-top: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        .logoGrp {
            display: flex;
            align-items: center;
            gap: 7px;
        }
        .logo {
            width: 52px;
            height: 52px;
            background: #fff;
            mask: url(../img/logo.svg) center/contain no-repeat;
        }
        .logo_txt1 {
            width: 224px;
            height: 30px;
            background: #fff;
            mask: url(../img/logo_txt1.svg) center/contain no-repeat;
        }
    }
    .pcRight {
        width: calc((100% - 375px) / 2);
        height: 100%;
        padding-top: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        .qrcode {
            width: 230px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .txt {
                color: #fff;
                font-family: $fontG_pc;
                font-size: 15px;
                line-height: 22px;
                font-weight: 500;
                letter-spacing: .1em;
            }
            .box {
                padding: 10px;
                background: #fff;
                border-radius: 4px;
            }
        }
    }
    @media (max-width: 1079px) {
        .pcLeft, .pcRight {
            display: none;
        }
    }
}
