@charset "UTF-8";

// ------------------------------
//  テキストボックス
// ------------------------------
// テキストボックスベースクラス
.inputText {
    position: relative;
    display: inline-block;
    input {
      position: relative;
      z-index: 1;
      outline: none;
      box-sizing: border-box;
      background: transparent;
      &::-ms-clear {
        visibility: hidden
      }
    }
    img {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}

// テキストボックスサンプル１
.inputText1, .inputText2 {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      height: 50px;
      padding: 0 15px;
      color: #1d170e;
      font-size: 16px;
      letter-spacing: 0.05em;
      background: #F8F8F5;
      border: 1px solid #ebe8e1;
      border-radius: 4px;
      appearance: none;
    //  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2) inset;
      &:focus {
        background: #fff;
        box-shadow: 0 0 0 1px #403b34; // outlineの代わり
      }
      &::-ms-clear {
        visibility: hidden
      }
      &::placeholder{
        color: #dbd7ce;
      }
    }
}

// テキストボックスサンプル２
.inputText2 {
    .pic {
      pointer-events: none;
      img {
          display: block;
          width: 26px;
          height: auto;
          left: 15px;
      }
    }
    input {
      padding-left: 51px;
    }
}


// ------------------------------
//  チェックボックス
// ------------------------------
//
.checkBoxGrp {
    @include media(pc) {
        margin-top: 8px;
        margin-bottom: -8px;
    }
    @include media(sp) {
        margin-top: 11px;
        margin-bottom: -5px;
    }
    &.timeGrp {
        display: flex;
        flex-wrap: wrap;
        .inputCheck1 {
            @include media(pc) {
                margin-right: 20px;
            }
            @include media(sp) {
                margin-right: 10px;
            }
        }
    }
    .note {
        text-align: justify;
        color: #888170;
        @include media(pc) {
            margin: -4px 0 6px ;
            padding-left: 24px;
            font-size: 12px;
            line-height: 16px;
        }
        @include media(sp) {
            margin: -3px 0 3px ;
            padding-left: 26px;
            font-size: 14px;
            line-height: 18px;
        }
    }
    .comment {
        @include media(pc) {
            margin-top: 5px;
            font-size: 12px;
            line-height: 16px;
        }
        @include media(sp) {
            margin-top: 5px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}


// チェックボックスベースクラス
.inputCheck {
    display: inline-block;
    cursor: pointer;
    position:relative;
    input {
      display: none;
    }
    span {
      &::before{
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
      }
    }
    input:checked + span::after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
    }
}


// チェックボックスサンプル１
.inputCheck1 {
    @include media(pc) {
        line-height: 32px;
    }
    @include media(sp) {
        line-height: 30px;
    }
    span {
        font-size: 16px;
        color: #dbd7ce;
        @include media(pc) {
            padding-left: 24px;
        }
        @include media(sp) {
            padding-left: 26px;
        }
        &::before{
            border: 1px solid #ebe8e1;
            border-radius: 4px;
            background: #f8f8f5;
            @include media(pc) {
                width: 16px;
                height: 16px;
            }
            @include media(sp) {
                width: 20px;
                height: 20px;
            }
        }
    }
    input:checked + span {
      color: #403b34;
      &::before {
        border: none;
        border: 1px solid #6c675b;
        background: #337896;
      }
      &::after {
        width: 6px;
        height: 12px;
        transform: rotate(40deg) skewY(20deg);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        @include media(pc) {
            left: 5px;
            margin-top: 8px;
        }
        @include media(sp) {
            left: 7px;
            margin-top: 7px;
        }
      }
    }
}
.checkBoxGrp.active {
    .inputCheck1 {
      span {
        color: #403b34;
        &::before{
          border: 1px solid #6c675b;
        }
      }
    }
}

.inputCheck2 {
    margin-right: 10px;
    line-height: 28px;
    margin-top: -7px;
    margin-bottom: -7px;
    span {
      color: #6c6961;
      padding-left: 20px;
      font-size: 12px;
      &::before{
        width: 14px;
        height: 14px;
        border: 1px solid #6c675b;
        border-radius: 2px;
        background: #f8f8f5;
      }
    }
    input:checked + span {
      &::before {
        border: none;
        background: #337896;
      }
      &::after {
        left: 5px;
        width: 5px;
        height: 10px;
        margin-top: 8px;
        transform: rotate(40deg) skewY(20deg);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
      }
    }
}

// ラジオボタン
.inputCheck3 {
    @include media(pc) {
        line-height: 32px;
    }
    @include media(sp) {
        line-height: 30px;
    }

    span {
        font-size: 16px;
        color: #403b34;
        position: relative;
        @include media(pc) {
            padding-left: 24px;
        }
        @include media(sp) {
            padding-left: 26px;
        }
        &::before{
            border: 1px solid #6c675b;
            border-radius: 50%;
            background: #f8f8f5;
            width: 20px;
            height: 20px;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            border-radius: 50%;
            background: #337896;
            width: 0;
            height: 0;
            top: 0;
            bottom: 0;
            left: 10px;
            margin: auto 0;
            transition: .2s;
        }
    }
    input:checked + span {
        &::after {
            left: 5px;
            width: 10px;
            height: 10px;
        }

    }
}


#form_popup {
    .popup_body {
        @include media(pc) {
            max-width: 600px;
            max-height: 600px;
            border-radius: 4px;
        }
    }
    .reserv_ttl {
        width: 100%;
        height: 60px;
        background-color: $themeColor3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $fontG_sp;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: .05em;
        position: relative;
        &.form_ttl {
            background-color: $themeColor1;
        }
    }
    .form_back {
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        @include media(pc) {
            display: none;
        }
        svg {
            width: 21px;
            height: 11px;
            fill: currentColor;
        }
    }
    .form_close {
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        svg {
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }
    .wrapper {
        @include media(pc) {
            height: calc(100% - 60px);
        }
        @include media(sp) {
            height: calc(100% - 100px);
        }
    }
    .form_ctrl {
        width: 100%;
        height: 40px;
        font-family: $fontG_sp;
        color: #fff;
        font-size: 14px;
        letter-spacing: .05em;
        @include media(pc) {
            display: none;
        }
        label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
                margin-right: 8px;
                fill: currentColor;
            }
        }
        .form_ctrl_close {
            background-color: $themeColor3;
            svg {
                width: 10px;
                height: 10px;
            }
        }
    }
    .reserv_info {
        width: 100%;
        height: 100%;
        @include media(pc) {
            display: none;
        }
        .contact {
            padding: 60px 20px;
            background-color: #FFFCEA;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .txt1, .txt2, .txt3 {
                font-family: $fontG_sp;
            }
            .txt1 {
                margin: -5px -10px 15px;
                font-size: 18px;
                line-height: 28px;
            }
            .btn_inputArea_open {
                width: 100%;
                max-width: 335px;
                height: 70px;
                padding: 0 30px;
                background-color: $themeColor2;
                border-radius: 4px;
                display: flex;
                align-items: center;
                font-family: $fontG_sp;
                color: #fff;
                font-size: 18px;
                letter-spacing: .05em;
                @include media(xs) {
                    padding: 0 15px;
                }
                .ico_reserv {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                    fill: currentColor;
                }
                .arrow {
                    width: 19px;
                    height: 9px;
                    margin-left: auto;
                    fill: currentColor;
                }
            }
            .txt2 {
                margin: 35px -10px 10px;
                font-size: 18px;
                line-height: 28px;
            }
            .tel {
                border-bottom: 1px solid currentColor;
                display: flex;
                align-items: center;
                color: #337896;
                font-size: 36px;
                svg {
                    width: 22px;
                    height: 22px;
                    margin-right: 10px;
                    fill: currentColor;
                }
            }
            .txt3 {
                margin-top: 12px;
                color: $themeColor4;
                font-size: 12px;
                letter-spacing: .05em;
            }
            .information {
                &-area {
                    width: 100%;
                    max-width: 335px;
                }
                &-wrap {
                    margin: 20px auto 0;
                }
            }
        }
        .hours {
            padding: 60px 20px;
            font-family: $fontG_sp;
            table {
                width: 100%;
                margin-top: -10px;
                thead {
                    tr {
                        height: 35px;
                    }
                    th {
                        font-size: 15px;
                        &:first-child {
                            letter-spacing: .05em;
                        }
                        &:not(:first-child) {
                            text-align: center;
                        }
                        &.holiday {
                            white-space: nowrap;
                            letter-spacing: -0.1em;
                        }
                    }
                }
                tbody {
                    tr {
                        height: 45px;
                    }
                    th {
                        font-family: 'Lato', sans-serif;
                        font-size: 14px;
                        letter-spacing: .05em;
                    }
                    td {
                        width: 10.05%;
                        text-align: center;
                        font-size: 11px;
                        font-feature-settings: normal;
                        &.star {
                            font-size: 13px;
                        }
                    }
                }
                tr {
                    background: linear-gradient(to right, rgba($themeColor3, .5) 1px, transparent 1px) left bottom/3px 1px repeat-x;
                }
            }
            p {
                margin: 17px 0 -3px;
                color: $themeColor4;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: .05em;
            }
        }
    }
    #inputArea_open {
        display: none;
        &:checked ~ .reserv_form {
            left: 0;
            opacity: 1;
        }
    }
    .reserv_form {
        width: 100%;
        height: 100%;
        @include media(sp) {
            padding-left: 20px;
            background-color: rgba($themeColor3, .5);
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 201;
            opacity: 0;
            transition: .3s;
        }
        .inputLayer {
            width: 100%;
            height: 100%;
            @include media(sp) {
                box-shadow: -4px 0 10px rgba(#000, .3);
            }
        }
        .wrapper {
            @include media(pc) {
                padding: 60px;
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                padding: 40px 20px 60px;
                font-family: $fontG_sp;
            }
        }
        .information {
            &-wrap {
                padding: 6px;
                background-color: #FFCD6A;
                @include media(pc) {
                    margin: -60px -60px 40px;
                }
                @include media(sp) {
                    margin: -40px -20px 40px;
                }
            }
            &-box {
                border-color: #fff;
            }
        }
        .formHead {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: .05em;
        }
        .formBox {
            .formUnit {
                @include media(pc) {
                    margin-top: 40px;
                }
                @include media(sp) {
                    margin-top: 30px;
                }
                .formUnitHead {
                    display: flex;
                    align-items: center;
                    .item {
                        color: $themeColor1;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: .05em;
                    }
                    .required, .optional {
                        margin-left: 8px;
                        font-size: 10px;
                        font-weight: 700;
                        letter-spacing: .05em;
                    }
                    .required {
                        color: #d93c0d;
                    }
                    .optional {
                        color: #337896;
                    }
                }
                &.group {
                    @include media(pc) {
                        margin-top: 30px;
                    }
                    @include media(sp) {
                        margin-top: 26px;
                    }
                }
            }
            label.error {
                display: block;
                width: 100%;
                color: #d93c0d;
                font-size: 16px;
                letter-spacing: 0.05em;
                line-height: 28px;
                margin-top: calc( 10px - 6px );
                margin-bottom: -6px;
                &#privacy-error {
                    font-size: 12px;
                }
            }
            .privacyBox {
                text-align: center;
                margin: 40px auto 0;
                line-height: 14px;
                .link {
                    text-decoration: underline;
                }
            }
        }
        .btn_entry {
            width: 100%;
            max-width: 275px;
            height: 70px;
            background-color: #73AD49;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 18px;
            letter-spacing: .05em;
            position: relative;
            @include media(pc) {
                margin: 14px auto 0;
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                margin: 12px auto 0;
                font-family: $fontG_sp;
            }
            svg {
                width: 10px;
                height: 10px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 20px;
                margin: auto 0;
                fill: currentColor;
            }
            .no-touchevents & {
                z-index: 0;
                overflow: hidden;
                cursor: pointer;
                &::before {
                    content: "";
                    display: block;
                    width: 0;
                    height: 100%;
                    background-color: #7CC348;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 0;
                    transition: .3s;
                }
                &:hover {
                    &::before {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
        .form_ctrl {
            display: flex;
            justify-content: space-between;
            label {
                width: calc(50% - 0.5px);
            }
            .form_ctrl_back {
                background-color: $themeColor4;
                svg {
                    width: 21px;
                    height: 11px;
                }
            }
        }
    }
    .thanksBox {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 202;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
        @include media(pc) {
            height: calc(100% - 60px);
            top: 60px;
            font-family: $fontG_pc;
            font-weight: 500;
        }
        @include media(sp) {
            height: 100%;
            background-color: rgba($themeColor3, .5);
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            font-family: $fontG_sp;
        }
        .thanks_popup_body {
            background-color: #fff;
            @include media(pc) {
                height: 100%;
                padding: 0 100px;
            }
            @include media(sp) {
                width: 100%;
                max-width: 335px;
                padding: 40px 30px;
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(#000, .3);
            }
        }
        .txtBox {
            @include media(pc) {
                height: calc(100% - 80px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        .thanksHead {
            margin: -3px 0;
            color: $themeColor1;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            letter-spacing: .05em;
            text-align: center;
        }
        .mainText {
            font-size: 16px;
            line-height: 28px;
            letter-spacing: .05em;
            .b {
                font-weight: bold;
            }
            @include media(pc) {
                margin: 34px 0 -6px;
                br {
                    display: none;
                }
            }
            @include media(sp) {
                margin: 24px 0 -6px;
            }
        }
        .thanks_close {
            width: 180px;
            height: 40px;
            background-color: $themeColor3;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 14px;
            letter-spacing: .05em;
            cursor: pointer;
            @include media(pc) {
                margin: 0 auto;
                transition: background-color .3s;
                &:hover {
                    background-color: rgba($themeColor3, .8);
                }
            }
            @include media(sp) {
                margin: 30px auto 0;
                box-shadow: 0 10px 10px rgba(#6C5B4A, .5);
            }
            svg {
                width: 10px;
                height: 10px;
                margin-right: 8px;
                fill: currentColor;
            }
        }
    }
    @include media(sp) {
        &.direct {
            .form_back {
                display: none;
            }
            .reserv_form {
                padding-left: 0;
                left: 0;
                opacity: 1;
                transition: 0s;
            }
            .form_ctrl {
                label {
                    width: 100%;
                }
                .form_ctrl_back {
                    display: none;
                }
            }
        }
    }
    &.thanks {
        .thanksBox {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
