@charset "UTF-8";

body#privacy {
    .fv {
        width: 100%;
        padding: 0 20px;
        background-color: #fff;
        >.wrapper {
            width: 100%;
            margin: 0 auto;
            padding: 90px 0 0;
        }
        .txtBox {
            margin-top: 80px;
        }
        .pageTitle {
            .en {
                margin-bottom: 25px;
                font-family: 'Cormorant Infant', serif;
                color: $themeColor1;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: .1em;
            }
            .jp {
                margin: -6px 0;
                font-size: 28px;
                line-height: 40px;
                letter-spacing: .05em;
            }
        }
    }
    .mainSec {
        background-color: #fff;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: .05em;
        @include media(pc) {
            font-family: $fontG_pc;
            font-weight: 500;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
        .articleTitle {
            margin-top: 38px;
            font-weight: 700;
        }
        ol {
            margin-top: 18px;
        }
        li {
            margin-top: 8px;
        }
        .address {
            margin-top: 38px;
        }
        .tel {
            margin-top: 18px;
        }
        .end {
            text-align: right;
            margin-top: 38px;
            margin-bottom: -6px;
        }
    }
}
