@charset "UTF-8";

body.recruit {

    .gothic {
        @include media(pc) {
            font-family: $fontG_pc;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
    }

    b {
        font-weight: 700;
        color: $themeColor1;
    }
    
    .secTitle {
        margin-bottom: 40px;
    }
    .subTitle {
        margin: -7px 0 33px;
    }
    .ttl {
        margin: -3px 0 17px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: .05em;
        @include media(pc) {
            font-family: $fontG_pc;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
    }

    .fixedBg {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: rgba(#fff, .9);
    }

    #offer, #greeting, #jobDescription, #guide, #process, #entry, #feature, #labo, #license, #recommendPoint {
        .txt {
            margin: -6px 0;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: .05em;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
            & +.txt {
                margin-top: 24px;
            }
            & + .subTitle {
                margin-top: 44px;
            }
            b {
                color: $themeColor1;
            }
            a {
                text-decoration: underline;
            }
        }
        .link {
            text-decoration: underline;
        }

    }

    #greeting {
        padding-bottom: 80px;
    }
    #greeting.videBgSec {
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: .3s;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100vh;
            margin-inline: auto;
            background: rgba(0, 139, 199, 0.6);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transition: .3s;
            @include media(pc) {
                max-width: 375px;
            }
        }
        .messageArea {
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
            .pic {
                display: block;
                margin-bottom: 40px;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 6px;
                }
            }
            .textBox {
                width: calc( 294 / 334 * 100% );
                margin-left: auto;
                margin-right: auto;
            }
        }
        .bgvideo {
            width: 100%;
            height: 100vh;
            margin-inline: auto;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            transition: .3s;
            @include media(pc) {
                max-width: 375px;
            }
        }
        .wrapper {
            position: relative;
        }
        .secTitle span,
        .subTitle,
        .txt {
            color: #ffffff;
            &.right {
                text-align: right;
            }
        }
        b  {
            font-size: 18px;
            color: #ffffff;
        }
    }
    

    #jobDescription, #entry {
        &::before {
            .webp & {
                background-image: url(../img/recruit/job-description_bg.jpg.webp);
            }
            .no-webp & {
                background-image: url(../img/recruit/job-description_bg.jpg);
            }
        }
    }

    #offer, #case, #recommendPoint {
        .table {
            width: 100%;
            max-width: 800px;
            margin-top: -14px;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
            tbody {
                tr {
                    border-bottom: 1px solid $themeColor5;
                }
                th {
                    width: 100px;
                    padding: 10px 0;
                    font-weight: 700;
                    line-height: 22px;
                }
                td {
                    padding: 14px 0;
                    text-align: left;
                    font-feature-settings: normal;
                    line-height: 28px;
                    .comment {
                        color: $themeColor4;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    #recommendPoint {
        padding-bottom: 80px;
        .table {
            margin: 32px 0 24px;
            tbody {
                tr {
                    border: 0;
                }
                th, td {
                    display: block;
                }
                th {
                    margin: -3px 0;
                    padding: 0;
                }
                td {
                    padding-top: 8px;
                    padding-bottom: 20px;
                }
            }
        }
    }
    #offer {
        padding-top: 80px;
    }

    #entry {
        .secTitle {
            text-align: center;
        }
        .contact {
            width: 100%;
            max-width: 300px;
            margin: 0 auto 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .tel1 {
                height: 34px;
                margin: 30px 0 21px;
                padding: 0 20px;
                background-color: $themeColor3;
                border-radius: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 14px;
                letter-spacing: .05em;
                svg {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                    fill: currentColor;
                }
            }
            .tel2 {
                text-align: center;
                color: #337896;
                font-size: 36px;
                .s {
                    font-size: 22px;
                    @include media(pc) {
                        font-family: $fontG_pc;
                    }
                    @include media(sp) {
                        font-family: $fontG_sp;
                    }
                }
            }
            .txt3 {
                margin: 9px 0 -3px;
                color: $themeColor4;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: .05em;
            }
            @include media(pc) {
                .tel1, .txt3 {
                    font-family: $fontG_pc;
                    font-weight: 500;
                }
            }
            @include media(sp) {
                .tel1, .txt3 {
                    font-family: $fontG_sp;
                }
            }
        }
    }
}

body#job1 {
    #guide, #recommendPoint {
        .ttl {
            margin-top: 37px;
        }
    }
    #process {
        padding-bottom: 80px;
        .boxList {
            li {
                padding: 30px 20px;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0 1px 2px rgba(#524D46, .2);
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }
    #entry {
        .contact {
            .txt3 {
                margin: 17px 0 -3px;
            }
        }
        .inputLayer {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 2px rgba(#524D46, .2);
            overflow: hidden;
            >.wrapper {
                padding: 40px 20px 60px;
                @include media(pc) {
                    font-family: $fontG_pc;
                    font-weight: 500;
                }
                @include media(sp) {
                    font-family: $fontG_sp;
                }
            }
            .form_ttl {
                width: 100%;
                height: 60px;
                background-color: $themeColor1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $fontG_sp;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: .05em;
                position: relative;
            }
            .formBox {
                margin-top: 40px;
                .formUnit {
                    margin-top: 30px;
                    .formUnitHead {
                        display: flex;
                        align-items: center;
                        .item {
                            color: $themeColor1;
                            font-size: 16px;
                            font-weight: 700;
                            letter-spacing: .05em;
                        }
                        .required, .optional {
                            margin-left: 8px;
                            font-size: 10px;
                            font-weight: 700;
                            letter-spacing: .05em;
                        }
                        .required {
                            color: #d93c0d;
                        }
                        .optional {
                            color: #337896;
                        }
                    }
                    &.group {
                        margin-top: 26px;
                    }
                }
                label.error {
                    display: block;
                    width: 100%;
                    color: #d93c0d;
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    line-height: 28px;
                    margin-top: calc( 10px - 6px );
                    margin-bottom: -6px;
                    &#privacy-error {
                        font-size: 12px;
                    }
                }
                .privacyBox {
                    text-align: center;
                    margin: 40px auto 0;
                    line-height: 14px;
                    .link {
                        text-decoration: underline;
                    }
                }
            }
            .btn_entry {
                width: 100%;
                max-width: 275px;
                height: 70px;
                margin: 12px auto 0;
                background-color: $themeColor1;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 18px;
                letter-spacing: .05em;
                position: relative;
                @include media(pc) {
                    font-family: $fontG_pc;
                    font-weight: 500;
                }
                @include media(sp) {
                    font-family: $fontG_sp;
                }
                svg {
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 20px;
                    margin: auto 0;
                    fill: currentColor;
                }
                .no-touchevents & {
                    z-index: 0;
                    overflow: hidden;
                    cursor: pointer;
                    &::before {
                        content: "";
                        display: block;
                        width: 0;
                        height: 100%;
                        background-color: $themeColor2;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        opacity: 0;
                        transition: .3s;
                    }
                    &:hover {
                        &::before {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


body.recruit.advertise#job1 {

    @include media(pc) {
        font-family: $fontG_pc;
        font-weight: 500;
    }
    @include media(sp) {
        font-family: $fontG_sp;
    }

    .mincho {
        @include media(pc) {
            font-family: $fontM_pc;
        }
        @include media(sp) {
            font-family: $fontM_sp;
        }
    }

    header {
        display: none;
        .information-area {
            display: none;
        }
        .lineHead .telGrp {
            display: none;
        }
        .btn_reserv {
            display: none;
        }
        .btn_recruit {
            display: flex;
        }
        .btn_menu {
            display: none;
        }
        > nav {
            display: none;
        }
    }

    #firstView1 {
        background-color: $themeColor6;
        .pic {
            width: 100%;
            height: 360px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
            img {
                object-position: top center;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 200px;
                background: linear-gradient(to bottom, rgba(248, 248, 245, 0 ), rgba(248, 248, 245, 1.0 ));
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        >.wrapper {
            padding-top: 0;
        }

        .txtBox {
            background-color: transparent;
            &::before {
                content: none;
            }

            .pageTitle {
                margin-top: 40px;
            }
        }

        .firstLogo1 {
            height: 57px;
            display: flex;
            flex-flow: column;
            gap: 9px;
            .text1 {
                color: #C36800;
                font-size: 14px;
                letter-spacing: 0.05em;
            }
            .text2 {
                display: block;
                width: 168px;
                height: 31px;
            }
        }

        .firstHead1 {
            margin-top: 20px;
            display: flex;
            .textGrp1 {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #C43D14;
                .text1 {
                    display: block;
                    width: 16px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    line-height: 20px;
                    margin-right: -1px;
                }
            }
            .textGrp2 {
                margin-left: 10px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .text2 {
                    width: 62px;
                    height: 20px;
                    background-color: #403B34;
                    border-radius: 10px;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    text-align: center;
                }
                .text3 {
                    margin-top: 5px;
                    line-height: 33px;
                    font-size: 28px;
                    letter-spacing: 0.05em;
                }
            }
        }
        .firstHead2 {
            margin-top: 30px;
            display: flex;
            flex-flow: column;
            gap: 4px;
            .pointArea {
                width: 270px;
                height: 34px;
                padding-left: 7px;
                background: linear-gradient(to right bottom, #BB671D, #DCAA1D);
                border-radius: 17px;
                display: flex;
                align-items: center;
                gap: 6px;
                .text2 {
                    display: block;
                    width: 20px;
                    height: 20px;
                }
                .text3 {
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 34px;
                    font-weight: 700;
                    letter-spacing: 0.1em;
                }
            }
        }

        .txt {
            margin-top: calc( 40px - 4px );
            margin-bottom: -5px;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 28px;
        }
    }
    
    #offer, #case {
        .table {
            td {
                .textGrp + .textGrp {
                    margin-top: 8px;
                }
            
            }
        }
    }

    #offer {
        .secTitle {
            margin-bottom: 36px;
        }
    }


    #interview {
        padding: 80px 10px;
        background-color: #FFF3DB;
        position: relative;
        >.wrapper {
            >.inner {
                padding: 0 10px;
            }
        }

        .interPic1 {
            width: 395px;
            height: 354px;
            position: absolute;
            top: 76px;
            right: -40px;
            &::before {
                content: '';
                display: block;
                width: 180px;
                height: 180px;
                background-color: rgba( 224, 89, 49, 0.2);
                border-radius: 50%;
                position: absolute;
                top: 170px;
                left: 0;
            }
            .pic {
                width: 300px;
                height: 300px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                img {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                }
                &::after {
                    content: '';
                    display: block;
                    width: 300px;
                    height: 300px;
                    border: 1px solid #E05931;
                    border-radius: 50%;
                    position: absolute;
                    top: -3px;
                    left: -3px;
                }
            }
        }

        .interHead1 {
            width: 200px;
            height: 46px;
            position: relative;
            .icon {
                display: block;
                width: 142px;
                height: 54px;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #E05931;
                position: absolute;
                left: 0;
                bottom: 12px;
            }
        }
        .interHead2 {
            margin-top: 40px;
            font-family: 'Zen Maru Gothic', serif;
            font-size: 26px;
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 37px;
            position: relative;
            z-index: 3;
            .text1 {
                display: inline-block;
            }
            .textGrp1 {
                margin-top: 7px;
                .textGrp1-1 {
                    display: flex;
                    align-items: flex-end;
                    .text2 {
                        display: block;
                    }
                    .text3 {
                        display: block;
                        font-size: 14px;
                        width: 14px;
                        height: 20px;
                        line-height: 20px;
                        margin-bottom: 7px;
                    }
                    .text4 {
                        display: block;            
                        font-size: 14px;
                        width: 14px;
                        height: 20px;
                        line-height: 20px;
                        margin-left: -3px;
                        margin-bottom: 2px;
                    }
                }
                .text5 {
                    display: block;
                    margin-top: 7px;
                    margin-left: 2px;
                    letter-spacing: 0;
                }
            }
        }

        .interList {
            margin-top: 62px;
            position: relative;
            z-index: 1;
            >.item {
                width: 100%;
                padding: 30px 20px;
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: 0 20px 60px 0 rgba( 82, 77, 70, 0.1 );
                display: flex;
                flex-flow: column;
                gap: 30px;
                .itemHead {
                    .head1 {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        .icon1 {
                            display: block;
                            width: 46px;
                            height: 46px;
                        }
                        .icon2 {
                            display: block;
                            width: 74px;
                            height: 28px;
                        }
                    }
                    .head2 {
                        margin-top: calc( 30px - 7px );
                        margin-bottom: -7px;
                        font-family: 'Zen Maru Gothic', serif;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 0.06em;
                        line-height: 30px;
                    }
                }
                .itemBody {
                    .text {
                        font-size: 15px;
                        letter-spacing: 0.05em;
                        line-height: 26px;
                        margin-top: -3px;
                        margin-bottom: -4px;
                        & + .text {
                            margin-top: calc( 20px - 3px );
                        }
                    }
                }


                & + .item {
                    margin-top: 20px;
                    display: flex;
                    gap: 30px;
                }
            }
        
        }

    }



    #case {
        padding-top: 80px;
    }
    
    #guide {
        padding-bottom: 40px;
    }

    #process , #offer {
        padding-bottom: 80px;
    }


    footer {
        .info {
            display: none;
        }
        nav {
            display: none;
        }
    }



    .openLabel {
        display: none;
        & + .openHead {
            text-decoration: underline;
            cursor: pointer;
        }
        & ~ .openBody {
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s;
        }
        &:checked {
            color :red;
            & ~ .openBody {
                max-height: 1000px;
            }
        }
    }
}


#wt_form_thanks_popup {
    .popup_body {
        max-width: 335px;
        height: auto;
        padding: 40px 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(#000, .3);
        @include media(pc) {
            font-family: $fontG_pc;
            font-weight: 500;
        }
        @include media(sp) {
            font-family: $fontG_sp;
        }
    }
    .thanksHead {
        margin: -3px 0;
        color: $themeColor1;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: .05em;
        text-align: center;
    }
    .mainText {
        margin: 24px 0 -6px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: .05em;
    }
    .thanks_close {
        width: 180px;
        height: 40px;
        margin: 30px auto 0;
        background-color: $themeColor3;
        border-radius: 4px;
        box-shadow: 0 10px 10px rgba(#6C5B4A, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        letter-spacing: .05em;
        cursor: pointer;
    }
}

body#job2 {
    #offer {
        padding-bottom: 80px;
    }
    #entry {
        .subTitle, .txt {
            text-align: center;
        }
    }
}

body#job1.job_dh {
    #firstView1 {
        .pic {
            @include media(pc) {
                height: 360px;
                top: 70px;
            }
            @include media(sp) {
                height: 360px;
                top: 70px;
            }
        }
    }
}