@charset "UTF-8";

body#equipment {
    .fv {
        .breadcrumbs {
            color: #fff;
        }
    }
    .mainSec {
        >.wrapper {
            max-width: 1000px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 2px rgba(#524D46, .2);
        }
    }
    #outline {
        padding-top: 80px;
        padding-bottom: 60px;
        >.wrapper {
            padding: 40px 30px;
        }
        .headline {
            padding-bottom: 12px;
            border-bottom: 1px solid currentColor;
            color: $themeColor1;
            span {
                display: inline-block;
                vertical-align: top;
                margin: -6px 0;
                font-size: 22px;
                line-height: 34px;
                letter-spacing: .1em;
            }
        }
        .grp {
            margin-top: 30px;
            li {
                margin-top: 20px;
                display: flex;
            }
        }
        .category {
            width: 130px;
            height: 30px;
            background-color: $themeColor3;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 14px;
            letter-spacing: .05em;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
        }
        .desc {
            margin: -4px 0;
            color: $themeColor1;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: .05em;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
        }
        .item {
            margin: 6px 0 -4px;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: .05em;
        }
    }
    .equipmentSec {
        padding-top: 20px;
        >.wrapper {
            padding: 30px 20px;
            >p.txt {
                margin: 24px 0 -6px;
                text-align: justify;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: .05em;
                @include media(pc) {
                    font-family: $fontG_pc;
                    font-weight: 500;
                }
                @include media(sp) {
                    font-family: $fontG_sp;
                }
                b {
                    font-weight: 700;
                }
            }
        }
        .headline {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $themeColor5;
            .desc {
                display: inline-block;
                vertical-align: top;
                margin-bottom: 16px;
                padding: 5px 8px 4px 8px;
                background-color: $themeColor2;
                border-radius: 4px;
                color: #fff;
                font-size: 14px;
                letter-spacing: .05em;
                @include media(pc) {
                    font-family: $fontG_pc;
                    font-weight: 500;
                }
                @include media(sp) {
                    font-family: $fontG_sp;
                }
            }
            .item {
                display: block;
                margin: -4px 0;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: .05em;
            }
            & + .imgBox {
                margin-top: 0;
            }
        }
        .imgBox {
            margin-top: 30px;
            figure {
                width: 100%;
                max-width: 520px;
                &:not(:first-child) {
                    margin-top: 20px;
                }
                .fig {
                    width: 100%;
                    border-radius: 4px;
                }
                figcaption {
                    margin: 7px 0 -3px;
                    text-align: justify;
                    color: $themeColor4;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: .05em;
                    @include media(pc) {
                        font-family: $fontG_pc;
                        font-weight: 500;
                    }
                    @include media(sp) {
                        font-family: $fontG_sp;
                    }
                }
            }
        }
        .function, .advantage {
            margin-top: 30px;
            padding: 20px;
            background-color: $themeColor6;
            border-radius: 4px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: .05em;
            @include media(pc) {
                font-family: $fontG_pc;
                font-weight: 500;
            }
            @include media(sp) {
                font-family: $fontG_sp;
            }
            .ttl {
                margin: -4px 0;
                font-weight: 700;
            }
            b {
                color: $themeColor1;
            }
        }
        .function {
            ul {
                margin: 16px 0 -4px;
            }
            & + .advantage {
                margin-top: 10px;
            }
        }
        .advantage {
            dt {
                margin-top: 20px;
                padding: 8px 12px;
                background-color: #fff;
                font-weight: 700;
            }
            dd {
                margin: 6px 10px -4px;
                text-align: justify;
            }
        }
    }
    #clinic {
        padding-bottom: 80px;
    }
    #messageArea {
        background-color: rgba(#1D170E, .8);
        color: #fff;
        &::before {
            transition: opacity .4s;
            .webp & {
                background-image: url(../img/equipment/message_bg.jpg.webp);
            }
            .no-webp & {
                background-image: url(../img/equipment/message_bg.jpg);
            }
        }
        .secTitle {
            span {
                color: $themeColor7;
            }
            svg {
                fill: $themeColor4;
            }
        }
        .btn_frame {
            margin: 60px auto 0;
            border-color: #FFCD6A;
            color: $themeColor7;
            svg {
                fill: $themeColor7;
            }
        }
    }
}
